:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin-bottom: 16px;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

img {
  margin-bottom: 20px;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 574px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
    text-align: center;
  }

  h3, p {
    font-size: 16px;
    padding: 0 20px;
    text-align: center;
    margin: 0 16px;
  }

  a {
    text-align: center;
  }

  .container {
    text-align: center;
  }

  .final-btn {
    margin-bottom: 30px;
  }

  .primary-link {
    padding: 13px 8px;
  }

  .secondary-link {
    padding: 13px 8px;
  }

  .email-link {
    font-size: 22px;
  }

  .navigation-links {
    margin: 18px !important;
  }

  #contact h2 {
    margin: 0 !important;
  }
}